html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;

}

.header {
  grid-area: header;
  height: 70px;
  background-color: #342e57;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  

}

.header nav ul li {
  float: left;
  left: 37%;
 
}

.header nav ul li a {
  display: block;
  color: #342e57;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #342e57;

}

#sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;

}


#sidebar h3 a{
  display: block;
  color: #342e57;
  text-decoration: none;
  font-size: 25px;
  margin-left: 20px;

}

#sidebar .text-sumario {
  margin: 20px;

}

#sidebar h3 {
  margin: 20px;
}

#sidebar .text-sumario a {
  margin-left: 30px;
}


.main-container {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: #fdf4e5;
  padding: 20px;
}

.main-container h4{
  font-size: 30px;
  color: #342e57;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.titulo-pagina{
  background-color: #fdf4e5;
  border-radius: 20px;
}

.titulo-pagina h3 a{
  color: #342e57;
}

.titulo-secao {
  width: 100%;
  height: 33%;
  background-color: #ffff;
  padding: 15px;
  box-shadow: #a1a7ff21 0px 2px 19px 1px, #ac8ae252 0px 2px 7px 1px;
  border-radius: 10px;
}

.titulo-secao .pagination-secao {
  max-height: 11%;
}

.titulo-secao h3 {
  align-content: center;
  font-size: 45px;
  margin: 70px;
}

.titulo-secao h3, .titulo-secao p{
  color: #837bb9;
}

.titulo-secao  .header-secao {
  justify-content: space-between;
}

/*


/*ul li form input{    
background-image: url('search.svg') bottom right no-repeat;
height: 80px;
padding-left:25px;   
}*/

/*
.main{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sidebar{
  width: 25%;
  background-color: white;
  height: 900px;
  top: 20px;

}


.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;

}
.sidebar .text-sumario {
  margin: 20px;
}

.content{
  width: 75%;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

*/