html, body {height: 100%;}

body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

.header {
  grid-area: header;
  height: 70px;
  background-color: rgb(57, 96, 224);
}



ul li.prisma a {
  color: #333;
  font-size: 30px;
  text-decoration: none;
}


#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: aqua;
}

#sidebar{
  width: 25%;
  background-color: white;
  height: 900px;
  top: 60px;

}


#sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;

}

#sidebar .text-sumario {
  margin: 20px;

}
#sidebar h3{
  margin: 20px;
}

#sidebar .text-sumario a{
  margin-left: 30px;
}


.main-container {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}


.titulo-secao{
  width: 100%;
  height: 20%;
  background-color: white;
  padding: 15px;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
  border-radius: 10px;
}


/*


/*ul li form input{    
background-image: url('search.svg') bottom right no-repeat;
height: 80px;
padding-left:25px;   
}*/

/*
.main{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sidebar{
  width: 25%;
  background-color: white;
  height: 900px;
  top: 20px;

}


.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10px;

}
.sidebar .text-sumario {
  margin: 20px;
}

.content{
  width: 75%;
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

*/