<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Prisma - Realizar Chamada</title>

</head>

<body>

<div class="grid-container">

    <header class="header">
        <nav class="d-flex justify-content-between align-items-center h-100 px-4">
            <div class="d-flex align-items-center">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar..."
                           style="border-radius: 50px; width: 400px; height: 40px;">
                    <button class="btn btn-primary search-btn" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="https://placehold.co/40x40/aaa/fff?text=C" class="rounded-circle"
                         alt="Avatar do Usuário" style="height:40px;">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                    <li><a class="dropdown-item" th:href="@{/login}">Trocar de conta</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="@{/login}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <aside id="sidebar">
        <div class="titulo-pagina">
            <h3><a th:href="@{/index}">PRISMA</a></h3>
        </div>
        <hr>
        <div class="text-sumario">
            <a th:href="@{/turmas}"><i class="bi bi-people-fill me-2"></i>Turmas</a>
            <a th:href="@{/educandos}"><i class="bi bi-person-video3 me-2"></i>Educandos</a>
            <a th:href="@{/chamada}"><i class="bi bi-list-check me-2"></i>Chamada</a>
        </div>
    </aside>


    <main class="main-container p-4">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h3 class="mb-0 fw-bold">Registro de Chamada</h3>
                <p class="text-secondary">Selecione a turma e marque a presença dos educandos.</p>
            </div>
            <button type="submit" form="formChamada" class="btn btn-success d-flex align-items-center"
                    th:disabled="${#lists.isEmpty(listaEducandos)}" id="btnSalvarChamada">
                <i class="bi bi-cloud-check-fill me-2"></i> Salvar
            </button>
        </div>


        <div class="card shadow-sm p-4">

            <form th:action="@{/chamada}" method="GET" id="formSelecaoTurma" class="card shadow-sm p-4 mb-4">

                <div class="d-flex justify-content-between">
                    <div class="mb-3">
                        <label for="selectTurma" class="form-label fw-bold">Turma selecionada:</label>
                        <select id="selectTurma" name="turmaId" class="form-select" onchange="this.form.submit()">
                            <option value="0"
                                    th:selected="${turmaSelecionadaId == null}">
                                Selecione uma Turma...
                            </option>

                            <option th:each="turma : ${listaTurmas}"
                                    th:value="${turma.id}"
                                    th:text="${turma.nome}"
                                    th:selected="${turma.id == turmaSelecionadaId}">
                                Nome da Turma
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="dataChamada" class="form-label fw-bold">Data da chamada:</label>

                        <input type="date" id="dataChamadaDisplay" class="form-control" style="width: 200px;"
                               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required readonly>
                    </div>
                </div>
            </form>

            <form th:if="${turmaSelecionadaId != null and turmaSelecionadaId != 0}"
                  th:action="@{/chamada/salvar}" method="POST" id="formChamada" class="card shadow-sm p-4">

                <input type="hidden" name="dataChamada"
                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">

                <input type="hidden" name="turmaSelecionadaId" th:value="${turmaSelecionadaId}">

                <div class="table-responsive mt-4">
                    <table class="table table-hover table-striped table-educandos">
                        <thead>
                        <tr>
                            <th scope="col"><p class="ms-3" style="text-align: center;">Foto</p></th>
                            <th scope="col"><p class="ms-3" style="text-align: center;">Nome completo</p></th>
                            <th scope="col"><p class="ms-3" style="text-align: center;">Matrícula</p></th>
                            <th scope="col"><p class="ms-3" style="text-align: center;">Chamada</p></th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr  th:each="educando : ${listaEducandos}">
                            <td>
                                <img th:src="${educando.caminhoImagem != null ? educando.caminhoImagem : 'https://placehold.co/40x40/ddd/555?text=NA'}"
                                     alt="Foto"
                                     class="rounded-circle"
                                     style="width: 40px; height: 40px; object-fit: cover;">
                            </td>
                            <td th:text="${educando.nome}"></td>
                            <td th:text="${educando.id}"></td>
                            <td>
                                <select th:id="'presenca_' + ${educando.id}"
                                        th:name="'presenca_' + ${educando.id}"
                                        class="form-select me-2 w-100">
                                    <option value="P" selected>P</option>
                                    <option value="F">F</option>
                                    <option value="FJ">FJ</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </form>

        </div>
    </main>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>